<MudDialog>
    <TitleContent>
        Scanner
    </TitleContent>
    <DialogContent>
        <div id="qrCodeResult"></div>
        <MudText Typo="Typo.h4">Scan QR Code...</MudText>
        <div style="display: flex; justify-content:center;">
            <div id="qrCodeReader" style="width: 500px; height: 500px"></div>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Ok</MudButton>
    </DialogActions>
</MudDialog>

<script>
    function domReady(fn) {
        if (document.readyState === "complete" || document.readyState === "interactive") {
            setTimeout(fn, 1);
        } else {
            document.addEventListener("DOMContentLoaded", fn);
        }
    }

    domReady(function () {
        var qrCode = document.getElementById('qrCodeResult');
        var lastResult, countResults = 0;

        function onScanSuccess(decodeText, decodeResult) {
            if (decodeText !== lastResult) {
                ++countResults;
                lastResult = decodeText;
                qrCode.innerHTML = decodeText;  // QR-Code-Text anzeigen
            }
        }

        var htmlScanner = new Html5QrcodeScanner("qrCodeReader", { fps: 10, qrbox: 250 });
        htmlScanner.render(onScanSuccess);
    });
</script>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    private void Close() => MudDialog.Close(DialogResult.Ok(true));
}